@media screen and (min-width: 1681px) {
  /* line 2, ../sass/_common.sass */
  .line-code-1 {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  /* line 4, ../sass/_common.sass */
  .line-code-2 {
    margin-top: 3em;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 7, ../sass/_common.sass */
  .line-code-3 {
    margin-top: 3em;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  /* line 10, ../sass/_common.sass */
  .line-code-4 {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  /* line 13, ../sass/_common.sass */
  .bottom-btn a:not(last-child) {
    margin: 0 3em 0 0;
  }
}
@media screen and (max-width: 1680px) {
  /* line 16, ../sass/_common.sass */
  .header .text-center {
    display: none;
  }

  /* line 19, ../sass/_common.sass */
  .bottom-btn a:not(last-child) {
    margin: 0 3em 0 0;
  }

  /* line 21, ../sass/_common.sass */
  .line-code-1 {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  /* line 23, ../sass/_common.sass */
  .line-code-2 {
    margin-top: 3em;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  /* line 26, ../sass/_common.sass */
  .line-code-3 {
    margin-top: 3em;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  /* line 29, ../sass/_common.sass */
  .line-code-4 {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
}
@media screen and (max-width: 604px) {
  /* line 33, ../sass/_common.sass */
  .header .header-left, .header .header-right {
    display: none;
  }

  /* line 36, ../sass/_common.sass */
  .bottom-btn a:not(last-child) {
    margin: 0 1.3em 0 0;
  }

  /* line 38, ../sass/_common.sass */
  .line-code-1 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 40, ../sass/_common.sass */
  .line-code-2 {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 43, ../sass/_common.sass */
  .line-code-3 {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 46, ../sass/_common.sass */
  .line-code-4 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 49, ../sass/_common.sass */
body {
  font-family: 微軟正黑體;
  font-size: 12px;
  background: #2b2b2b;
}

/* line 55, ../sass/_common.sass */
.container-fluid {
  padding: 0;
}

/* line 60, ../sass/_common.sass */
.row {
  margin: 0;
}

/* line 63, ../sass/_common.sass */
::selection {
  background: white;
  color: black;
}

/* line 1, ../sass/_footer.sass */
.footer {
  position: fixed;
  bottom: 0;
}

/* line 1, ../sass/_content.sass */
.content {
  border: 20px solid transparent;
  -moz-border-image: url(../img/border.png) 30 30 round;
  -webkit-border-image: url(../img/border.png) 30 30 round;
  -webkit-border-image: url(../img/border.png) 30 30 round;
  -o-border-image: url(../img/border.png) 30 30 round;
  border-image: url(../img/border.png) 30 30 round;
  padding: 0 0 20em 0;
}
/* line 5, ../sass/_content.sass */
.content .col-md-12 {
  padding: 0;
}
/* line 7, ../sass/_content.sass */
.content .col-md-12 > img {
  width: 100%;
}
/* line 9, ../sass/_content.sass */
.content .item.row {
  margin: 3em 0 0 0;
}
/* line 11, ../sass/_content.sass */
.content .item.row img.title {
  margin: 3em 0;
  width: 20%;
  max-width: 289px;
}
/* line 16, ../sass/_content.sass */
.content .item.row .items-btn img {
  width: 50%;
  max-width: 209px;
}
/* line 19, ../sass/_content.sass */
.content .item.row .items-btn a > img:nth-child(1), .content .item.row .items-btn a > img:nth-child(2) {
  margin: 0 0 3em 0;
}
/* line 21, ../sass/_content.sass */
.content .fb-content {
  padding: 5em;
}

/*.line.row > .col-md-12 > .row.text-center
 * background: transparent url(../img/line-bg.png) center center fixed no-repeat
 * +background-size(cover) */
/* line 29, ../sass/_content.sass */
.line.row {
  margin: 0 0 3em 0;
}
/* line 31, ../sass/_content.sass */
.line.row > .col-md-12 > .row.text-center:after {
  content: "";
  background: url(../img/pic-line-01.png) center center no-repeat;
  width: 1920px;
  height: 160px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

/* line 2, ../sass/_header.sass */
.header .header-left, .header .header-right {
  position: absolute;
  top: 0;
}
/* line 5, ../sass/_header.sass */
.header .header-right {
  right: 0;
}
/* line 7, ../sass/_header.sass */
.header .text-center {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 3em;
  z-index: 1;
}
/* line 13, ../sass/_header.sass */
.header .text-center a:not(last-child) {
  margin: 0 4em 0 0;
}

/* line 1, ../sass/_bottomBtn.sass */
.bottom-btn {
  position: fixed;
  z-index: 3;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
/* line 7, ../sass/_bottomBtn.sass */
.bottom-btn a img {
  min-width: 7em;
}
